.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
.DS_Store

**/command-output/

.idea/
*.iml
*.sln
.vscode/settings.json

**/pulumiManifest.go

ci-scripts
provider/**/schema-embed.json
**/version.txt
**/dist

# Ignore generated Go SDK (built by CI/CD)
# sdk/go/

go.work
go.work.sum

# Ignore local build tracking directory
.make
